/* :root {
    --gradiant: linear-gradient(135deg, rgba(221, 249, 228, 1) 0%, rgba(221, 241, 249, 1) 100%);
    --title: #002f35;
} */

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    all: unset;
    cursor: pointer;
}

body {
    background-color: rgb(232, 250, 249);
}

header {
    height: 33svh;
    padding: 0 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

header img {
    max-height: 60%;
    border-radius: 50%;
}

header div {
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 0.1429rem + 1.7857vw, 1rem);
}

header div h1 {
    font-size: clamp(1.5rem, 1.1429rem + 1.7857vw, 2rem);
    font-weight: 600;
}

header div p {
    display: flex;
    gap: 0.75rem;
}

header div p span {
    transform: scaleX(0.75);
}

main {
    min-height: 67svh;
    /* background-color: red; */
    padding: 0 5vw 7rem 5vw;
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

main section.category {
    background-color: white;
    box-shadow: 2px 2px 10px rgba(5, 58, 56, 0.1);
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

section.category h2 {
    font-size: 1.35rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

section.category h3 {
    font-size: clamp(1.5rem, 0.9643rem + 2.6786vw, 2.25rem);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

section.category p {
    font-size: 0.9rem;
}

footer {
    width: 100%;
    background-color: rgb(205, 236, 235);
    box-shadow: 0 -1px 5px rgba(5, 58, 56, 0.1);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
}

footer img {
    height: 1.5rem;
}

input#add-post {
    display: none;
}

input#add-post+label {
    display: flex;
    justify-content: center;
    align-items: center;
}

input#add-post+label span {
    width: 1rem;
    height: 2px;
    background-color: #000000;
    border-radius: 2px;
    position: absolute;
}

input#add-post+label span:last-of-type {
    transform: rotate(90deg);
}

@media only screen and (min-width:510px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5vw;
    }

    main section.category {
        width: 100%;
        max-width: 300px;
        height: 100%;
        place-self: center;
    }
}